@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string output = $"the number is: {new Class1().TheAdder(0, 1)}";
}

<div class="text-center">
    <p>Hello, @output</p>
    @* <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
